name: Deploy Hugo site to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
    
      - name: Mark repo as safe for git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.155.1"
          extended: true

      - name: Build
        run: hugo --minify
        #run: |
         # set -euxo pipefail
         # hugo version
          #echo "PWD: $(pwd)"
         # hugo --minify

         # echo "---- public root ----"
          #ls -la public | sed -n '1,120p'

          #echo "---- public/en ----"
          #ls -la public/en | sed -n '1,120p' || true

          #echo "---- find index files ----"
          #find public -maxdepth 2 -type f \( -name "index.html" -o -name "index.xml" \) -print

         # echo "---- assert html exists ----"
          #test -f public/index.html && echo "OK: public/index.html exists" || (echo "MISSING: public/index.html" && exit 1)
          #test -f public/en/index.html && echo "OK: public/en/index.html exists" || (echo "MISSING: public/en/index.html" && exit 1)

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4